body{
  font-family: 'VT323', monospace;
  background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,0.9) 0%, rgba(246,41,12,0.7) 0%, rgba(240,47,23,0.8) 7%, rgba(135,28,255,0.9) 100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
